@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{            ViewData["Title"] = "IS 414 Homework - Mission 3";
}


<div class="mainbody">
    <!-- Header with Preferred Name -->
    <h1>Madison or Maddy</h1>

    <!--Image of me hiking Gloria Falls in Summer 2021-->
    <!--*To make easier, just drag photo and code is written for you-->
    <!--Adjusted size for better readability-->
    <img src="images/hike_1.jpg" width="400" height="500" /><br />

    <!--Paragraph tag explaining what I hope to get out of IS 413-->
    <br />

    <h2>IS 413 Expectations: </h2>
    <p>
        The biggest thing I hope to get out of IS 413 is a better understanding of programing, and possibly, a love for it. I enjoy centain types of programming, but due to time contraints I don't practice enough.
        If I can spend more time on the concepts taught in this class, and find similarities from other programming classes, then I might actually enjoy the programming aspect of Information Systems.
    </p>

    <br />

    <!-- List of Top 3 jobs I'm interested in pursuing after graduation'-->
    <h2>Top 3 Job Prefrecense after graduating:</h2>
    <ul>
        <li>Data Scientist/Analyst</li>
        <li>Management</li>
        <li>Security Specialist</li>
    </ul>

    