<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />

    <!--Style Sheets-->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/StyleSheet.css" rel="stylesheet" />

    <!-- Webpage title -->
    <title>@ViewData["Title"]</title>

    <!--Add Icon to Title-->
    <link rel="shortcut icon" href="images/3D_User_Icon_64.png" />

</head>
<body>
    <nav>
        <a asp-controller="V1" asp-action="Index">Home</a>
        <a asp-controller="V1" asp-action="grade_calc">Grade Calculator</a>
    </nav>

    <!--Bootstrap-->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <!--Bring in jquery-->
    <script src="~/lib/jquery/jquery-3.6.0.min.js"></script>

    <div>
        @RenderBody()
    </div>



</body>


</html>
